<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="blog.root.mapper.CommentMapper">
	<!-- comment -->
	<resultMap type="blog.root.model.CommentDTO" id="commentMap">
		<result property="board_number" column="board_number" />
		<result property="comment_number" column="comment_number" />
		<result property="contents" column="contents" />
		<result property="comment_date" column="comment_date" />
		<result property="user_number" column="user_number" />
		
		<collection property="userList" resultMap="userMap" />
		<collection property="user_authList" resultMap="user_authMap" />
	</resultMap>
	
	<!-- user  -->
	<resultMap type="blog.root.model.UserDTO" id="userMap">
	
		<result property="user_number" column="user_number" />
		<result property="nickname" column="nickname" />
		
	</resultMap>
	
	<!-- user_auth -->
	<resultMap type="blog.root.model.User_authDTO" id="user_authMap">
		<result property="user_number" column="user_number" />
		<result property="auth" column="auth" />
	</resultMap>
	
	<select id="selectCommentList" resultMap="commentMap" >
		select
			comment.comment_date ,comment.comment_number,comment.contents,user.nickname,comment.board_number,comment.user_number,user_auth.auth
		from
			 comment
		right outer join user
			on comment.user_number = user.user_number  
		right outer join user_auth
			on user.user_number = user_auth.user_number
		where 
			board_number =#{board_number}
		order
 			by comment.comment_date asc
	</select>
</mapper>
