<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="blog.root.mapper.UserMapper">
	<resultMap type="blog.root.model.UserDTO" id="userMap">
		<id property="user_number" column="user_number"/>
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="user_number" column="user_number" />
		<result property="email" column="email" />
		<result property="id_create_date" column="id_create_date" />
		<result property="nickname" column="nickname" />
		<result property="enabled" column="enabled" />
	<collection property="authList" resultMap="authMap" >
	</collection>
	</resultMap>
	<resultMap type="blog.root.model.User_authDTO" id="authMap">
		<result property="user_number" column="user_number" />
		<result property="auth" column="auth" />
	</resultMap>
	<select id="read" resultMap="userMap">
	select 
	 a.user_number, id, pw, email,id_create_date,nickname,enabled, auth 
	from 
		user as a left outer join user_auth as b on  a.user_number = b.user_number
	where
		 a.id=#{id}
	</select>
</mapper>
